# Ignore directories and files
bin/ojdbc*.jar
bin/sav-linux-free-*.tgz

# exceptions to above rule

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[co]

# Ignore logs
*.log

# Include files
!.gitignore


