[Desktop Entry]
Name=Arkimint Installer
Comment=Test hello world script
Exec=./bin/arkimint_installer.py
Icon=/usr/share/icons/Mint-X/categories/32/applications-development.png
Terminal=false
Type=Application
