[Desktop Entry]
Name=PWLinux Installer
Exec=./bin/pwlinux.py
Icon=/home/bba/Arkimint/bin/pwlinux.png
Terminal=false
Type=Application
Name[en_US]=PWLinux Installer
