[Desktop Entry]
Name=PWLinux Installer
Exec=./bin/pwlinux_installer.py
Icon=/home/bba/Arkimint/bin/arkimint_fin_32px.png
Terminal=false
Type=Application
Name[en_US]=PWLinux Installer
